 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  margin: 0 auto 60px 0;
  padding: 0;
}